:root {
    --primary-bg-color: #eee;
    --primary-bg-color-inverted: #111;
    --primary-font-color: #5b677b;
    --primary-font-color-inverted: #ccc;
    --primary-font-hover-color: #444d5c;
    --primary-border-color: #8697b5;

    --secondary-font-color: #5b677b;
}

.light-mode {
    --primary-bg-color: #eee;
    --primary-bg-color-inverted: #5b677b;
    --primary-font-color: #5b677b;
    --primary-font-color-inverted: #ccc;
    --primary-font-hover-color: #444d5c;
    --primary-border-color: #444d5c;

    --secondary-font-color: #5b677b;
}

.dark-mode {
    --primary-bg-color: #111;
    --primary-bg-color-inverted: #eee;
    --primary-font-color: #ccc;
    --primary-font-color-inverted: #5b677b;
    --primary-font-hover-color: #c1ccde;
    --primary-border-color: #c1ccde;

    --secondary-font-color: #ddd;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: all ease 0.7s;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
}




/*  underline on hover  */

.underline {
    color: var(--primary-font-color);
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-font-color);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.underline:hover:after {
    color: var(--primary-font-hover-color);
    transform: scaleX(1);
    transform-origin: bottom left;
}



/*  header  */

.header {
    height: 80vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header>.name {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 54px;
    margin: 0;
}

.header>.name>.age {
    font-size: 32px;
    color: var(--secondary-font-color);
}

.header>.social-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 32px;
}

.header>.social-icons>a>img {
    height: 24px;
    filter: grayscale(100%);
    transform: scale(1);
    transition: all ease 0.3s;
}

.header>.social-icons>a>img:hover {
    filter: grayscale(0%);
    transform: scale(1.25);
}




/*  navbar   */

.navbar {
    padding: 0 10%;
    overflow: hidden;
    z-index: 100;
}

.navbar.sticky {
    position: sticky;
    top: 24;
}

.navbar.sticky>.navbar-inner {
    padding: 12px 24px;
    border: 1px solid var(--primary-border-color);
    background-color: var(--primary-bg-color);
    border-radius: 100px;
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all ease 0.3s;
}

.navbar-inner>a {
    color: var(--primary-font-color);
    text-decoration: none;
    transition: all ease 0.3s;
    font-size: 32px;
    font-weight: 600;
}

.navbar-inner>a:hover {
    color: var(--primary-font-hover-color);
}

.navbar-inner>.links {
    display: flex;
    align-items: center;
    gap: 24px;
}





/*  generic  */

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--primary-font-color);
}

.divider.wide {
    margin: 64px 0;
}

.bg-section-heading {
    position: absolute;
    top: 240;
    right: -64;
    z-index: -1;
    color: var(--primary-font-color);
    opacity: 0.3;
    transform: rotate(270deg);
    margin: 0;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
}






/*  skills  */

.skills {
    padding: 160px 10% 0 10%;
    position: relative;
}

.skill-category-div {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.skill-category-div>h3 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
    width: 30%;
}

.skill-icons-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 70%;
}

.skill-icons-div>img {
    max-width: 20%;
    max-height: 64px;
    /* filter: grayscale(100%); */
}





/*  projects  */

.projects {
    padding: 160px 10% 0 10%;
    position: relative;
}